<div class="container">
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-md-12">
      <div class=" row">
        <div class="col-12 col-md-8">
        <div class="p-3 m-2 left-panel conntainer rounded">
          <h2 class="company-label m-0 text-center"> Добро пожаловать</h2>
          <p class="simpleText"> Это - сайт компании ... </p>
          <p class="simpleText"> Здесь вы можете ...</p>
          <br><br><br>
          <p class="simpleText"> Для начала вам нужно зарегистрироваться</p>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="p-3 m-2 right-panel conntainer rounded">
          <div class="card-body">
            <h2 class="card-title company-label text-center"> Регистрация </h2>
            <div class="SignUpWindow">
              <div class="form-group py-2">
                <input class="inputField form-control" id="InputEmail" type="email" aria-describedby="emailHelp"
                  placeholder="Введите ваш Email" name="email" [(ngModel)]="registration.email" />
              </div>
              <div class="form-group py-2">
                <input class="inputField form-control" id="InputPassword" type="password" placeholder="Пароль"
                  name="password" [(ngModel)]="registration.password" />
              </div>
              <div class="form-group py-2">
                <input class="inputField form-control" id="ConfirmInputPassword" type="password"
                  placeholder="Повторите пароль" name="passwordRepeated" [(ngModel)]="passwordRepeated" />
              </div>
              <button class="btn btn-primary btn-block w-100" routerLink="/home" type="button"
                (click)="this.OnSignUpButtonClick()">Создать
                аккаунт</button>
              <div>
                <p class="simpleText"></p>Уже есть аккаунт?<p class="refer" routerLink="/login" type="button"
                  (click)="this.OnLoginButtonClick()">Заходите
                </p>
              </div>
              <p class="text-danger" (ngModel)="this.prompt">{{this.prompt}}</p>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>