<div class="container">
  <button type="button" class="btn btn-primary" (click)="this.OnLoginButtonClick()">Выйти</button>
  <div class="table-container form-control p-0 my-2 rounded">
    <table class="table table-borderless m-2 rounded">
      <thead>
        <tr>
          <th scope="col">Название устройства</th>
          <th>Лицензия</th>
        </tr>
      </thead>
      <tbody>
        @for (c of licenseList; track c.id) {
        <tr>
          <td>{{c.deviceNumber}}</td>
          <td>
            <tr>
              @for (lic of c.licenses; track lic.id) {
                <td>{{lic.licenseType.name}}</td>
                <td>Начало: {{lic.startLicense}}</td>
                <td>Длительность: {{lic.licenseType.duration}}</td>
              }
            </tr>
          </td>
        </tr>
      }
      @empty {
        <tr>
          <td>Нет лицензий</td>
        </tr>
      }
      </tbody>
    </table>
  </div>

  <div class="container  justify-content-center ">
    <div class="card-deck justify-content-center text-center row">
      @for (c of typeLicense; track c.id) {
      <div class="card m-1 col-12 col-md-2 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">На {{c.duration}} дней</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">{{c.price}}₽</h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li class="fs-5">{{c.name}}</li>
            <li>На одно устройство</li>
          </ul>
          <button type="button" data-bs-toggle="modal" data-bs-target="#bayModal"
            class="btn btn-lg btn-block btn-primary">Приобрести</button>
        </div>
      </div>
      }
    </div>
  </div>
  <!-- <button class="refer" routerLink="/login" type="button" (click)="this.OnLoginButtonClick()">Выйти</button> -->
</div>

<!-- Modal -->
<div class="modal fade" id="bayModal" tabindex="-1" aria-labelledby="bayModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="bayModalLabel">Совершение покупки</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Вы хотите преобрести товар: Подписка на 30 дней за 0₽</p>
        <p>Введите номер устройства:</p>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="000000000">
          <label for="floatingInput">Номер устройства</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
        <button type="button" class="btn btn-primary" (click)="this.GoPay(1)">Приобрести</button>
      </div>
    </div>
  </div>
</div>