body {
  background-color: #e1e1e1  !important;
}

.refer {
  border: 0px;
  background-color: transparent;
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 5px;
  float: right;
  color: #4a8e9f;
}

.refer:hover {
  text-decoration: underline;
}

.inputField {
  background: #d4d4d4;
  text-align: center;
  color: #4a8e9f;
}

.simpleText {

  margin-top: 5px;
  margin-bottom: 5px;
}

body {
  background-color: #f5f5f5;
}

.card {
  background-color: #e1e1e1;
  border: none;
  border-radius: 10px;
}

.card-header {
  background-color: transparent;
}

.company-label {
  background-color: transparent;
  color: #5aa3b0;
}

input.form-control {
  background-color: #e0e0e0;
  border: none;
  border-radius: 20px;
}

input.form-control:focus {
  box-shadow: none;
  outline: none;
}

button.btn-primary {
  background-color: #5aa3b0;
  border: none;
  border-radius: 20px;
}

button.btn-primary:hover {
  background-color: #499495;
}

.left-panel {
  background-color: #e1e1e1;
}

.right-panel {
  background-color: #d3d3d3;
}

td,
th {
  background: transparent;
  color: #4a8e9f;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.table-container {
  background-color: #e1e1e1;
}

.card h1,
h4,
li {
  color: #4a8e9f;
}

h1 {
  color: #4a8e9f;
}

button.btn {
  border: none;
  border-radius: 20px;
}
a {
  color: #4a8e9f;
  text-decoration-line: underline; 
}

.btn-wrapper-end {
  display: flex;
  justify-content: flex-end;
}