<div class="container">
  <h5 class="title" (ngModel)="this.login">{{this.login}}: наш телеграмм https://t.me/NeedMoreRamonaFlowers</h5>
  <h5 class="title">Прошу написать в телеграм</h5>
  <h5 class="title">так обсуждение будет оперативнее</h5>
  <h5 class="title">контакты написаны сюда, </h5>
  <h5 class="title">потому что кворк запрещает оставлять свои контакты в чате</h5>
  
  <button type="button" class="btn btn-primary" (click)="this.OnLoginButtonClick()">Выйти</button>
  <div class="table-container form-control p-0 my-2 rounded">
    <table class="table table-borderless m-2 rounded">
      <thead>
        <tr>
          <th scope="col">Название устройства</th>
          <th>Лицензия</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>модель1</td>
          <td>лицензия1</td>
        </tr>
        <tr>
          <td>модель2</td>
          <td>лицензия2</td>
        </tr>
        <tr>
          <td>модель3</td>
          <td>лицензия3</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="container  justify-content-center ">
    <div class="card-deck justify-content-center text-center row">
      <div class="card m-1 col-12 col-md-2 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">На 30 дней</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">0₽</h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>На одно устройство</li>
          </ul>
          <button type="button" data-bs-toggle="modal" data-bs-target="#bayModal" class="btn btn-lg btn-block btn-primary">Приобрести</button>
        </div>
      </div>

      <div class="card m-1 col-12 col-md-2  box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">На 90 дней</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">15₽</h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>На одно устройство</li>
          </ul>
          <button type="button" data-bs-toggle="modal" data-bs-target="#bayModal" class="btn btn-lg btn-block btn-primary">Приобрести</button>
        </div>
      </div>
      <div class="card m-1 col-12 col-md-2 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">На 180 дней</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">29₽</h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>На одно устройство</li>
          </ul>
          <button type="button" data-bs-toggle="modal" data-bs-target="#bayModal" class="btn btn-lg btn-block btn-primary">Приобрести</button>
        </div>
      </div>

      <div class="card m-1 col-12 col-md-2 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">На 365 дней</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">3500₽</h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>На одно устройство</li>
          </ul>
          <button type="button" data-bs-toggle="modal" data-bs-target="#bayModal" class="btn btn-lg btn-block btn-primary">Приобрести</button>
        </div>
      </div>
    </div>
  </div>
  <!-- <button class="refer" routerLink="/login" type="button" (click)="this.OnLoginButtonClick()">Выйти</button> -->
</div>

<!-- Modal -->
<div class="modal fade" id="bayModal" tabindex="-1" aria-labelledby="bayModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="bayModalLabel">Совершение покупки</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Вы хотите преобрести товар: Подписка на 30 дней за 0₽</p>
        <p>Введите номер устройства:</p>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="000000000">
          <label for="floatingInput">Номер устройства</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
        <button type="button" class="btn btn-primary" (click)="this.GoPay(1)">Приобрести</button>
      </div>
    </div>
  </div>
</div>