<!-- <style>
  .primary {
    border: 0px; 
    text-decoration:none;
    background: white;
    transition: background 0.8s;
  }
  .primary:hover {
    text-decoration:underline;
    background: rgb(200, 200, 200);
  }  
</style>

<form>
    <button class="primary" type="button" (click)="this.OnMainButtonClick()">Главная</button>
    <button class="primary" type="button" (click)="this.OnLoginButtonClick()">Вход</button>
    <button class="primary" type="button" (click)="this.OnSignUpButtonClick()">Регистрация</button>
    <button class="primary" type="button" (click)="this.OnProfileButtonClick()">Профиль</button>
    <button class="primary" type="button" (click)="this.OnLicenseButtonClick()">Лицензии</button>
    <hr color="black">
  </form> -->
  <router-outlet></router-outlet>
