<div class="container vh-100">
  <div class="row  d-flex align-items-center justify-content-center h-75">
    <div class="col-md-6">
      <div class="card shadow-lg">
        <div class="card-header triangle text-center p-4">
          <h5 class="company-label">Jingler Pro</h5>
        </div>
        <div class="card-body p-4">
          <form>
            <div class="form-group py-2">
              <input id="exampleInputEmail" class="inputField form-control" type="email" aria-describedby="emailHelp"
                placeholder="Введите ваш Email" name="email" [(ngModel)]="login.identificator" />
            </div>
            <div class="form-group py-2">
              <input id="exampleInputPassword" class="inputField form-control" type="password" placeholder="Пароль"
                name="password" [(ngModel)]="login.password" />
            </div>

            <button [attr.disabled]="login.identificator.length == 0 || login.password.length == 0 ? true : null"
              class="btn btn-primary btn-block w-100" routerLink="/home" type="button"
              (click)="this.OnLoginButtonClick()">Войти</button>
            <div class="d-flex justify-content-center">
              <p class="simpleText px-2">Нет аккаунта?</p>
              <a class="refer" routerLink="/home" type="button"
                (click)="this.OnSignUpButtonClick()">Зарегистрируйтесь</a>
            </div>
          </form>
          <app-contactsLicense></app-contactsLicense>
        </div>
      </div>
    </div>
  </div>

  <app-download-module></app-download-module>

</div>