.refer {
    border: 0px;
    background-color: transparent;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 5px;
    float: right;
    color: #4a8e9f;
  }

  .refer:hover {
    text-decoration: underline;
  }

  .inputField {
    background: #d4d4d4;
    text-align: center;
    color: #4a8e9f;
  }
  
  .simpleText {

    margin-top: 5px;
    margin-bottom: 5px;
  }

  body {
    background-color: #f5f5f5;
  }

  .card {
    background-color: #d3d3d3;
    border: none;
    border-radius: 10px;
  }

  .card-header {
    background-color: transparent;
  }

  .company-label {
    background-color: transparent;
    color: #5aa3b0;
  }

  input.form-control {
    background-color: #e0e0e0;
    border: none;
    border-radius: 20px;
  }

  .triangle {
    border-radius: 4%;
    background: #e1e1e1;
    clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
}

  input.form-control:focus {
    box-shadow: none;
    outline: none;
  }

  button.btn-primary {
    background-color: #5aa3b0;
    border: none;
    border-radius: 20px;
  }

  button.btn-primary:hover {
    background-color: #499495;
  }
